*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 10%;
    background-color: #0f2952;
    position: relative;
}
nav .container{
    margin-left: 5%;
    margin-right: 6%;
}
nav .main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}
nav .left-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .left-links h2{
    border: 2px solid #fff;
    border-bottom: none;
    border-top: none;
    border-right: none;
    padding: 25px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
nav .search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    background-color:#fff;
    padding: 12px 12px;
    border-radius: 20px;
    outline-style: hidden;
    outline-color:#3860b2;
}
nav .search-bar span{
    font-size: 30px;
    color: #555;
}
nav .search-bar input[type="text"]{
    width: 30rem;
    background: #fff;
    border: none;
    cursor: pointer;
    outline: none;
}
nav .search-bar input[placeholder="Search"]{
    color: #555;
    font-size: 20px;
    
}
.right-links .accessories a{
    text-decoration: none;
}
nav .right-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;
}
nav .right-links h2{
    font-size: 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif; 
}
nav .right-links span{
    font-size: 30px;
    color: #fff;
}
/* ..........................................................section-1....................................... */
body {
    font-family: Arial, sans-serif;
    background-color: #001838;
}
.container-add-to-card{
    margin-left: 6%;
    margin-right: 5%;
    margin-top: 6%;
    margin-bottom: 3%;
}
.add-to-card-links{
    display: flex;
    gap: 5rem;
}
.image-container {
    position: relative;
    width: 570px;
    height: 550px;
    overflow: hidden;
    border: 1px solid transparent;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    object-fit: cover;
    transition: transform 0.4s ease;
}
.add-to-card-right-links{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: #43526e;
    border: 1px solid transparent;
    padding: 15px 20px;
    border-radius: 20px;
}
.card-first-links h2{
    font-size: 40px;
    font-family: RMNeue, sans-serif;
    font-weight: 500;
    color: #fff;
}
.card-second-links{
    display: flex;
    flex-direction: column;
}
.card-second-links h1{
    font-size: 16px;
    font-family: RMNeue, sans-serif;
    font-weight: 50;
    color: #fff;
}
.card-second-links h2{
    font-size: 16px;
    font-family: RMNeue, sans-serif;
    font-weight: 50;
    color: #fff;
}
.card-third-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card-third-links h2{
    font-size: 20px;
    color: #fff;
    font-family: RMNeue, sans-serif;
}
.size-container {
    display: flex;
    gap: 10px;
}

.size-button {
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 19px;
    cursor: pointer;
    transition: background-color 0.1s, border-color 0.3s;
}

.size-button:hover {
    background-color: #e0e0e0;
}

.size-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

#stock-info {
    margin-top: 20px;
}

.stock-message {
    font-size: 18px;
    color: #fff;
}

.in-stock-button {
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 12px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    margin-top: 10px;
}

.in-stock-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.confirmation-symbol {
    font-size: 24px;
    color: #28a745;
    margin-left: 10px;
}
.checkout-button button {
    background-color: #007BFF;
    color: #fff;
    width: 440px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 3%;
    position: relative;
    overflow: hidden;
    font-family: RMNeue, sans-serif;
    margin-left: 6%;
}
/* ...................................................footer.................................................. */
.footer{
    background-color: #102341;
    height: 100%;
    width: 100%;
    padding-bottom: 1.2%;
}
.footer-container{
    padding-top: 4%;
    padding-left: 6%;
    padding-right: 6%;
}
  .all-footer-links{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 4%;
}
.footer-left-links{
    display: flex;
    justify-content: space-between;
    gap: 9rem;
}
.footer-link-1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-link-1 a{
    text-decoration: none;
}
.footer-link-1 h2{
    font-size: 13px;
    font-weight: 700;
    color: #9aa2ae;
    font-family: RMNeue, sans-serif;
}
.footer-link-1 h1{
    font-weight: 700;
    font-size: 16px;
    font-family: RMNeue, sans-serif;
    color: #e0d8d8;
}
.footer-link-2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-link-2 a{
    text-decoration: none;
}
.footer-link-2 h2{
    font-size: 12px;
    color: #9aa2ae;
    font-family: RMNeue, sans-serif;
}
.footer-link-2 h1{
    font-weight: 700;
    font-size: 16px;
    font-family: RMNeue, sans-serif;
    color: #e0d8d8;
}
.footer-link-3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-link-3 a{
    text-decoration: none;
}
.footer-link-3 h2{
    font-size: 13px;
    color: #9aa2ae;
    font-family: RMNeue, sans-serif;
}
.footer-link-3 h1{
    font-weight: 700;
    font-size: 16px;
    font-family: RMNeue, sans-serif;
    color: #e0d8d8;
}
.footer-right-links{
    background-color:#29395a;
    padding: 35px 40px;
    border-radius: 30px;
}
.footer-link-4{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-link-4 a{
    text-decoration: none;
}
.footer-link-4 h1{
    font-weight: 700;
    font-size: 16px;
    font-family: RMNeue, sans-serif;
    color: #e0d8d8;
}
.footer-right-links .footer-link-4 button {
    font-size: 14px;
    font-family: RMNeue, sans-serif;
    color: #483cfa;
    height: fit-content;
    background-color: #e0d8d8;
    padding: 10px 15px;
    border-radius: 16px;
    border: none;
    text-align: center;
}
.footer-middle-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2%;
}
.footer-middle-links .footer-download-link h1{
    font-size: 18px;
    font-weight: 600;
    font-family: RMNeue, sans-serif;
    color: #e0d8d8;

}
.footer-icon-links{
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    gap: 0.8rem;
}
.payments-links h2{
    font-size: 20px;
    font-family: RMNeue, sans-serif;
    color: #fff;
}
.payments-links{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 3%;
}
.footer-all-smalls-icons{
    display: flex;
    gap: 0.5rem;
}
.footer-social-media-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.8px solid #43526e;
    padding: 4px 10px;
    border-right: none;
    border-left: none;
}
.social-media-right-links{
    display: flex;
    gap: 1.5rem;
}
.footer-last-word h2{
    font-size: 12px;
    font-family: RMNeue, sans-serif;
    color: #fff;
}
.footer-last-word{
    margin-top: 2%;
}